.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    p 1. FONTS
    p(style="font-weight:400; font-family:'Libre Italic'; color:#42220b") LibreBaskerville-Italic', 400
    p(style="font-weight:400; font-family:'Libre Regular';color:#42220b") LibreBaskerville-Regular', 400
    p(style="font-weight:400; font-family:'Monsterat';color:#42220b") Montserrat-Regular', 400
    p(style="font-weight:600; font-family:'Monsterat';color:#42220b") Montserrat-SemiBold', 600
    p(style="font-weight:600; font-family:'Sfui';color:#42220b") SFUIDisplay-Regular', 400
    p Link
    a(href="#" style="color:#42220b") link