.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
	p 2. BUTTONS
	p .btn_primary
	button.btn.btn_primary Subscription program?
	p .btn_primary-green
	button.btn.btn_primary.btn_primary-green Shop now
	p .btn_add
	button.btn.btn_card.btn_card-add Add to card
	p .btn_buy
	button.btn.btn_card.btn_card-buy Buy now
	p .btn_check
	button.btn.btn_check Proceed to check out
	p .btn-order
	button.btn.btn-order Login
	button.btn.btn-order Place order
	p .btn-basket
	button.btn.btn-basket Update cart
	button.btn.btn-basket.btn-basket_white Proceed to checkout
	button.btn.btn-basket Return to shopping
	p .btn-basket_brown
	button.btn.btn-basket_brown Apply Coupon