.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    p 3.PRODUCT a(href="#").product
    a(href="#").product
        .product__image
            img(src="images/product-1.jpg")
        .product__name Every day fashion care