.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    .sellers-card.sellers-card_hot
        a(href="#").sellers-card__image
            img(src="../images/seller-card-1.jpg")
            .sellers-card__buttons
                button.btn.btn_card.btn_card-add Add to card
                button.btn.btn_card.btn_card-buy Buy now
        a(href="#").sellers-card__name Longline Bomber
        .sellers-card__price $ 170.00