.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    .catalog-card
        a(href="#").catalog-card__image
            img(src="images/catalog-card-1.jpg")
        .catalog-card__info
            a(href="").catalog-card__name Wash Bags & Bra Bathers
            .catalog-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
            .catalog-card__price $ 170.00
            button.btn.btn_card.btn_card-add Add to cart
            button.btn.btn_check Proceed to check out
