.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    .review-card
        .review-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        .review-card__user
            .review-card__photo
                img(src="images/review-user.png")
            .review-card__name Alex Koperwoos