.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#34ccf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    ul.breadcrumbs
        li
            a(href="#").breadcrumbs__link Home
        li
            a(href="#").breadcrumbs__link Every Day Fashion Care