section.article-inner
    .container_blog
        article.article-inner__content.blog-inner__article
            .article-inner__head
                .blog-inner__date March 5, 2016
                .blog-inner__title How to travel almost free
                ul.blog-inner__breadcrumbs
                    li
                        a(href="#") Anna Pavlova
                    li
                        span Category
                        a(href="#") Fashion
            .article-inner__image
                img(src="images/article-image-1.jpg")
            .article-inner__title Blanditiis, nemo porro accusamus molestias
            .article-inner__text
                | Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .article-inner__text
                | But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
            blockquote
                .article-inner__blockquote
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            .article-inner__title Text with links
            .article-inner__text
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, t
            .article-inner__title Ordered list
            .article-inner__text
                | This is a sample Ordered List.
            ol.article-inner__order
                li 1. Lorem ipsum dolor sit amet consectetuer.
                li 2. Congue Quisque augue elit dolor.
                li 3. Something goes here.
                    ol.sublist
                        li 1. And another here
                li 4. Congue Quisque augue elit dolor nibh.
            .article-inner__title
                | Unordered list
            ul.article-inner__unorder
                .article-inner__text
                    | This is a sample unOrdered List.
                li Lorem ipsum dolor sit amet consectetuer.
                li Congue Quisque augue elit dolor.
                    ul.sublist
                        li Something goes here.
                li And another here
                li Congue Quisque augue elit dolor nibh.
            .article-inner__socials
                p You can share my post in social networks
                a.fb(href="#")
                a.vk(href="#")
                a.ig(href="#")
                a.tw(href="#")
                a.gp(href="#")
            ul.article-inner__pagination
                li
                    a(href="#").article__prev how to travel almost free
                li
                    a(href="#").article__next preparation of layouts layers