section.product-inner
    .container
        .product-inner__left
            a(href="#").product-inner__image
                img(src="images/product-1.png")
            p review
            form.product-inner__form
                .form__group
                    label.form__label Your review*
                    textarea.form__input.form_additional__area.product-inner__area(name="area")
                .form__group
                    label.form__label Name*
                    input.form__input.product-inner__input(type="text" name="name")
                .form__group
                    label.form__label Email*
                    input.form__input.product-inner__input(type="email" name="mail")
                button.btn.btn-order(type="submit") submit
        .product-inner__right
            a(href="#").product-inner__back Back to Shop
            .product-inner__title Wash Bags & Bra Bathers
            .product-inner__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            .product-inner__price $ 170.00
            button.btn.btn_card.btn_card-add Add to card
            .product-inner__reviews
                .product-inner__user Alexander Shestakov
                    span 12/06/16
                .product-inner__comment If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.
                .product-inner__user James Stone
                    span 11/06/16
                .product-inner__comment If you are a new customer, please proceed to the Billing & Shipping section.
                .product-inner__user Alexander Shestakov
                    span 12/06/16
                .product-inner__comment If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.
                .product-inner__user James Stone
                    span 11/06/16
                .product-inner__comment If you are a new customer, please proceed to the Billing & Shipping section.