doctype html
html(lang="ru")
    include global/head.pug
    body.home
        include global/header.pug
        //main
        main.wrapper
            include catalog/catalog-banner
            include catalog/section-cards
            include home/section-sliders.pug
            include global/modal.pug
            include global/scripts.pug
            include pages/pages.pug
    include global/footer.pug