doctype html
html(lang="ru")
    include global/head.pug
    body.home
        include global/header.pug
        //main
        main.wrapper
            include checkout/checkout-banner
            include checkout/checkout-inner
            include global/scripts.pug
            include pages/pages.pug
    include global/footer.pug