doctype html
html(lang="ru")
	include global/head.pug
	body.home
		include global/header.pug
		//main
		main.wrapper
			include home/first.pug
			include home/section-products.pug
			include home/home-banner.pug
			include home/section-sliders.pug
			include home/section-slider-2.pug
			include global/modal.pug
			include global/scripts.pug
			include pages/pages.pug
	include global/footer.pug