<!DOCTYPE html>
html(lang="ru")
	include global/head
	body
		include global/header
		main.wrapper
			include ui/1-typography
			include ui/2-buttons
			include ui/3-product
			include ui/4-sellers-card
			include ui/5-catalog-card
			include ui/6-review-card
			include ui/7-breadcrumbs
			include ui/8-slider-products
			include ui/9-section-banner
			include ui/10-section-breadcrumbs
			include ui/11-inputs
			include global/scripts
		include global/footer
		include pages/pages
