.section-cards{
  padding: 72px 0 85px;
  @include mq('laptop','max'){
    padding: 30px 0 50px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .catalog-card{
    &:nth-child(3){
      margin-top: 108px;
      @include mq('laptop', 'max'){
        margin-top: 0;
      }
    }
    &:nth-child(4){
      margin-top: 108px;
      @include mq('laptop', 'max'){
        margin-top: 0;
      }
    }
    @include mq('laptop','max'){
      &:not(:first-child){
        margin-top: 40px;
      }
    }
  }
}