//footer
footer.footer
    .container
        .footer-block
            .footer-block__top forever new
                p love your clothers
            .footer-block__inner Quisque rytrum. Aenean imperdiet. Etiam ultricies nisivel augue.
            .footer-block__bottom © 2016
        .footer-block
            ul.footer-block__list
                li
                    a(href="#").footer-block__title department
                li
                    a(href="#") Products
                li
                    a(href="#") How to use
                li
                    a(href="#") Good to Know
                li
                    a(href="#") Media
                li
                    a(href="#") Retailer
        .footer-block
            ul.footer-block__list
                li
                    a(href="#").footer-block__title information
                li
                    a(href="#") Our Career
                li
                    a(href="#") About us
                li
                    a(href="#") Join news letter
                li
                    a(href="#") Corporates
                li
                    a(href="#") Relations
        .footer-block
            a(href="#").footer-block__title social network
            .footer-block__social
                a(href="#")
                    svg.icon.icon-ig
                        use(xlink:href='images/sprite/sprite.svg#ig')
                a(href="#")
                    img(src="images/icon-fb.png")
            .footer-block__inner Quisque rytrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
            form.footer-block__form
                input(type="email" name="mail").footer-block__input
                button(type="submit").footer-block__submit
                    svg.icon.icon-send
                        use(xlink:href='images/sprite/sprite.svg#sent-mail')
                .footer-block__line