//header
header.header
    .container
        a(href="./").logo
        nav.header__menu#menu
            button.close-menu
                i.close-menu__icon
            ul.header__nav
                li
                    a(href="#") Home
                li
                    a(href="#") Products
                li
                    a(href="#") Science of laundry
                li
                    a(href="#") Tips
        a(href="#").btn_search
        a(href="#").btn_shop
            svg.icon
                use(xlink:href='images/sprite/sprite.svg#icon-basket')
        .header__lang
            a(href="#") en
            a(href="#") fr
        button.burger
