section.blog-inner
    .container
        article.blog-inner__article
            .blog-inner__date March 5, 2016
            .blog-inner__title Lorem ipsum dolor free amset
            ul.blog-inner__breadcrumbs
                li
                    a(href="#") Anna Pavlova
                li
                    span Category
                    a(href="#") Fashion
                li
                    a(href="#") 3 Comment
            .blog-inner__photo
                img(src="images/blog-1.jpg")
            .blog-inner__text Here you can view and share my work, if you want to consult after watching, you can write to me by filling out the form below in the section about me you can view and share my work, if you want to consult after watching, you can write to me by filling out the form below in the section about me...
            a.btn.btn-order Continue reading
        article.blog-inner__article
            .blog-inner__date March 5, 2016
            .blog-inner__title Lorem ipsum dolor free amset
            ul.blog-inner__breadcrumbs
                li
                    a(href="#") Anna Pavlova
                li
                    span Category
                    a(href="#") Fashion
                li
                    a(href="#") 3 Comment
            .blog-inner__photo
                img(src="images/blog-2.jpg")
            .blog-inner__text Here you can view and share my work, if you want to consult after watching, you can write to me by filling out the form below in the section about me you can view and share my work, if you want to consult after watching, you can write to me by filling out the form below in the section about me...
            a.btn.btn-order Continue reading