/*==========================================================================
	 section-products
	 ===========================================================================*/
.section-products{
  padding: 80px 0 60px;
  text-align: center;
  @include mq('tablet', 'max'){
    padding: 20px 0 20px;
  }
  .container{
    display: flex;
    justify-content: space-around;
    @include mq('desktop', 'max'){
      flex-wrap: wrap;
    }
  }
  .btn{
    margin-top: 55px;
    @include mq('tablet', 'max'){
      margin-top: 25px;
    }
  }
}
/* end first */