//first
section.first.js-slider
    .first__item
        .first__left
            .first__text
                .first__offer Special offer
                .first__title Wash Bags & Bra Bathers
                .first__price
                    span 50% OFF
                    | $ 24.50
                    span $ 48.00
                button.btn.btn_primary.btn_primary-green Shop now
        .first__right
    .first__item
        .first__left
            .first__text
                .first__offer Special offer
                .first__title Wash Bags & Bra Bathers
                .first__price
                    span 50% OFF
                    | $ 24.50
                    span $ 48.00
                button.btn.btn_primary.btn_primary-green Shop now
        .first__right
    .first__item
        .first__left
            .first__text
                .first__offer Special offer
                .first__title Wash Bags & Bra Bathers
                .first__price
                    span 50% OFF
                    | $ 24.50
                    span $ 48.00
                button.btn.btn_primary.btn_primary-green Shop now
        .first__right
    .first__item
        .first__left
            .first__text
                .first__offer Special offer
                .first__title Wash Bags & Bra Bathers
                .first__price
                    span 50% OFF
                    | $ 24.50
                    span $ 48.00
                button.btn.btn_primary.btn_primary-green Shop now
        .first__right