section.section-banner
    .container
        .section-banner__title Laundry with kindness
        p Commited to gentle, effective  cleaning, Forever new will always be made with:
        span Eco-friendly, plant based, biodegradeble cleansers Naturally  derived essential oils Free off parabens, biodegradeble cleansers And never tested on animals