//section-sliders
section.section-sliders
    .container
        .slider-products
            .slider-products__title Best sellers
                a(href="#") View All
            .slider-products__inner.js-products
                .sellers-card
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-1.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-2.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-3.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-4.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-1.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-1.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-1.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-1.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00
                .sellers-card.sellers-card_hot
                    a(href="#").sellers-card__image
                        img(src="../images/seller-card-1.jpg")
                        .sellers-card__buttons
                            button.btn.btn_card.btn_card-add Add to card
                            button.btn.btn_card.btn_card-buy Buy now
                    a(href="#").sellers-card__name Longline Bomber
                    .sellers-card__price $ 170.00