//section-products
section.section-products
    .container
        a(href="#").product
            .product__image
                img(src="images/product-1.jpg")
            .product__name Every day fashion care
        a(href="#").product
            .product__image
                img(src="images/product-2.jpg")
            .product__name Specialty washes fashion care
        a(href="#").product
            .product__image
                img(src="images/product-5.jpg")
            .product__name Wool Balls
        a(href="#").product
            .product__image
                img(src="images/product-4.jpg")
            .product__name Fashion Care accessories
    button.btn.btn_primary Subscription program?