section.section-slider-2
    .container
        .slider-products
            .slider-products__title Reviews
                a(href="#") View All
            .slider-products__inner.js-products
                .review-card
                    .review-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    .review-card__user
                        .review-card__photo
                            img(src="images/review-user.png")
                        .review-card__name Alex Koperwoos
                .review-card
                    .review-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    .review-card__user
                        .review-card__photo
                            img(src="images/review-user.png")
                        .review-card__name Alex Koperwoos
                .review-card
                    .review-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    .review-card__user
                        .review-card__photo
                            img(src="images/review-user.png")
                        .review-card__name Alex Koperwoos
                .review-card
                    .review-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    .review-card__user
                        .review-card__photo
                            img(src="images/review-user.png")
                        .review-card__name Alex Koperwoos
                .review-card
                    .review-card__text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    .review-card__user
                        .review-card__photo
                            img(src="images/review-user.png")
                        .review-card__name Alex Koperwoos
        button.btn.btn_primary.btn-open Give review