.product{
  display: flex;
  flex-direction: column;
  width: 25%;
  background: $color-white;
  overflow: hidden;
  transition: .5s ease;
  &:hover{
    color:$color-main;
    transition: .5s ease;
    text-decoration: none;
    & .product__name{
      text-decoration: underline;
    }
  }
  @include mq('desktop', 'max'){
    width: 50%;
    max-width: 50%  ;
  }
  @include mq('tablet', 'max'){
    min-width: 100%;
  }
}

.product__image{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 273px;
}

.product__name{
  margin: 0 auto;
  width: 82%;
  min-height: 32px;
  text-align: center;
  color:$color-main;
  text-transform: uppercase;
  @include font-size(16px);
  letter-spacing: 0.4px;
  transition: .3s;
}