.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-btn {
	font-size:(6/10)*1rem;
	width:(9/6)*1em;
}
.icon-facebook-logo {
	font-size:(77/10)*1rem;
	width:(42/77)*1em;
}
.icon-icon-basket {
	font-size:(27.3/10)*1rem;
	width:(35.2/27.3)*1em;
}
.icon-icon-close {
	font-size:(36.6/10)*1rem;
	width:(36.6/36.6)*1em;
}
.icon-ig {
	font-size:(24.8/10)*1rem;
	width:(24.8/24.8)*1em;
}
.icon-sent-mail {
	font-size:(248/10)*1rem;
	width:(267.8/248)*1em;
}
